*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* this header part is very special */
header{
    background-color: #FFF8F3;
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-position: left top, right bottom;
    background-repeat: no-repeat;
     padding-top: 50px;
}


.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
   
    
} 

.btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    padding:18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

ul{
    list-style: none;
}

.nav{
    display: flex;
   width:71%;
   max-width: 1140px;
   /* border: 1px solid red; */
   margin: 0 auto;
   justify-content: space-between;
   align-items: center;
}

.logo h2{
font-size: 45px;
font-weight: 900;
}


.menu{
    display:flex;
    gap: 51px;
    align-items: center;
}

.nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color:#474747;
}




/*================= Banner ======================== */

#banner{
    /* border: 1px solid red; */
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}
#banner .banner-img img{
    max-width: 586px;
    vertical-align: middle; /*special for img*/
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: semi-bold;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
     
}
#banner .banner-content p{
    font-size: 18px;
    font-weight: regular;
    color:#757575;
    margin-bottom: 30px;
}

#banner .banner-content .banner-btn{
    display: flex;;
    gap:30px;
}



/*================= About me ======================== */

#about{
/*     
    border:1px solid red; */
   padding-top: 130px;
   
    
}


#about .about-content{
    /* border:1px solid red; */
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 157px;
}






#about .about-info {

display: flex;
gap:50px;
justify-content: space-around;
font-size: 15px;

}




#about .about-content .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 30px;
    
}
#about .about-content .section-heading p{
    font-weight: 18px;
    font-weight: regular;
    color:#757575;
    margin-bottom: 30px;
    line-height: 30px;
    
}



#about .about-info .info-card p {
  color:#757575;
  line-height: 30px;
  
}
#about .about-info .info-card h4 {
  color:#474747;
  
}





/*================= Skill ======================== */

#skill{
/* border:1px solid red; */
padding-top: 130px;
}


#skill .skill-content{
    /* border:1px solid black; */
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    
  
}

#skill .skill-content .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 30px;
    
    
}
#skill .skill-content .section-heading p{
    font-weight: 18px;
    font-weight: regular;
    color:#757575;
    margin-bottom: 30px;
    line-height: 30px;
    
}


#skill .skill-content .skill-info{
    display: flex;
    gap: 24px;
}

#skill .skill-content .skill-info .skill-card {
/* border:1px solid black; */
padding:30px;
max-width: 267px;
box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.192);
 
}
#skill .skill-content .skill-info .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
    
}
#skill .skill-content .skill-info .skill-card h3{
    max-width: 204px;
    margin-bottom: 20px;
    font-weight: 20px;
    color:bold;
}
#skill .skill-content .skill-info .skill-card p{
    max-width: 204px;
    font-weight: 16px;
    color:#757575;
}





/* ==========================Resume=========================== */

#resume{
    /* border: 1px solid red; */
    padding-top:130px;
}


#resume .resume-content{
    /* border: 1px solid red; */
    margin: 0 auto;
    width:71%;
    max-width:1140px;
}

#resume .resume-content .resume-heading {
     /* border: 1px solid red; */
    max-width: 455px;
    
    margin: 0 auto;
    
}
#resume .resume-content .resume-heading h2{
    /* border: 1px solid red; */
    font-size: 30px;
    font-weight: bold;
    /* max-width: 455px; */
    text-align:center;
    color:#181818;
    margin-bottom: 130px;
    
}


#resume .resume-content .card-content{
    display: flex;
    gap:71px
}
/* #resume .resume-content .card-content .resume-info {
    border: 1px solid red;
} */

#resume .resume-content .card-content .resume-info .card-heading{
    /* border: 1px solid red; */
    font-size: 30px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 30px;

}


#resume .resume-content .card-content .resume-info .resume-card h2{
  
    font-size: 25px;
    font-weight: bold;
    color:#474747;
    margin-bottom: 10px;
} 
#resume .resume-content .card-content .resume-info .resume-card p{
   
    font-size: 18px;
    font-weight: semi-bold;
    color:#757575;
    margin-bottom: 25px;
} 
#resume .resume-content .card-content .resume-info .resume-card {
   
    /* border: 1px solid red; */
    max-width: 511px;
} 
#resume .resume-content .card-content .resume-info  hr{
   
    /* border: 1px solid red; */
    width: 558px;
    margin-bottom: 30px;
} 


#resume .resume-btn{
    margin-top:50px ;
    /* border: 1px solid red; */
    text-align: center;

}


/* ==================Footer================= */

footer{
    /* border: 1px solid red; */
    margin-top:130px ;
    background-color:#FFF8F3;
    height: 780px;
    
}

.footer-content{
    /* border: 1px solid red; */
    padding-top: 130px;
    display: flex;
    width: 72%;
    max-width: 1140px;
    gap:117px;
    margin:0 auto;
}




.footer-content .social{
    max-width: 563px;
}

.footer-content .social h2{
 font-size: 35px;
 font-weight: bold;
 color:#181818;
 
}
.footer-content .social p{
    margin-top: 20px;
}
.footer-content .social .logo{
    margin-top: 30px;
    display: flex;
    gap:24px;
}



.footer-content .form h2{
 font-size: 35px;
 font-weight: bold;
 color:#181818;
margin-bottom: 20px;
}

.footer-content .form input[type="text"], [type="email"], textarea{
    width:461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border:none;
    border-radius: 5px;
    color:#757575;
}
